.sidebar {
    border-radius: 0;
    position: fixed;
    width: 235px;
    background-color:rgb(51, 122, 183);
    top:30px;
    overflow-y: auto;
    bottom: 0;
    overflow-x: hidden;
    white-space: nowrap;
    float:left;
    line-height: 30px;
    color:#ffffff;
}
.side{
    line-height: 30px;
}
.nav-link{
    cursor: pointer;
}

.nav-link:hover{
    opacity: 0.8;
}