<div class="sidebar">
  <nav class="sidebar navbar fixed-left "  style="position: relative"> 
    <ul class="nav navbar-nav" style="margin:10px">
      <li class="nav-item">
        <a class="nav-link h6" (click)="onClick('manage-category')" role="tab">
          Manage Category
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link h6" (click)="onClick('manage-attributes')" role="tab">
          Manage Attributes
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link h6" (click)="onClick('manage-attributes-value')" role="tab">
          Manage Attribute Values
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link h6" (click)="onClick('manage-products')" role="tab">
          Manage Products
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link h6" (click)="onClick('manage-orders')" role="tab">
          Manage Orders
        </a>
      </li>
    </ul>
  </nav>
</div>