<div class="footer-container bottom">
  <footer class="desktop-footer">
      <div class="main-footer">
        <div class="group-container">
            <div class="title">
              ONLINE SHOPPING
            </div>
            <div class="departments" *ngFor="let department of departments">
              {{department.name}}
            </div>
        </div>
        <div>
          <div class="title">
            KEEP IN TOUCH
          </div>
          <div class="social-media">
            <span class="icons" ><i class="ion-logo-facebook"></i></span>
            <span class="icons" ><i class="ion-logo-twitter"></i></span>
            <span class="icons" ><i class="ion-logo-youtube"></i></span>
            <span class="icons" ><i class="ion-logo-instagram">  </i></span>
          </div>
          <div class="desktop-contact">
            In case of any concerns contact us on
          </div>
          <div>
            <strong>+91-70-64759532</strong>
          </div>
        </div>
        
      </div>
      <div class="desktop-promices">
          <div class="informations">
            <div class="desktop-original">
              <img src="../../../assets/icons/original.PNG" alt="originalProductIcon">
            </div>
            <div><strong>100% ORIGINAL </strong>guarantee for all products at myntra.com </div>
          </div>
          <div class="informations">
            <div class="desktop-original">
              <img src="../../../assets/icons/return_policy.PNG" alt="originalProductIcon">
            </div>
            <div><strong>Return within 30days </strong>of receiving your order</div>
          </div>
          <div class="informations">
            <div class="desktop-original">
              <img src="../../../assets/icons/delivery.PNG" alt="originalProductIcon">
            </div>
            <div><strong>Get free delivery </strong>for every order above Rs. 1199</div>
          </div>
        </div>
  </footer>
</div>