.ab{
    float: left;
}
.card:hover{
    -webkit-box-shadow: -1px 2px 20px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 2px 40px -15px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 20px -15px rgba(0,0,0,0.75);
}

.card .reveal{
    display: none;
}

.card:hover .reveal{
    display: inline-block; 
    position:absolute;

}
.hidenav{
    visibility: hidden;
}
.show{
    visibility: visible;
}
.card:hover .hide{
    transition-duration: 0.3s;
    transform: translate(0px,-50px);
}
.hide{
    background-color: white;
}
.card .hide{
    display: block; 
}
.card .card-footer{
    background-color: white;
    border-top: 0px;
    
}   
.dot {
    height: 25px;
    width: 25px;
    
    border-radius: 50%;
    display: inline-block;
}

.card{
    border:0px;
    width: 225px;
    text-align: left;
    position: relative;
    vertical-align: top;
   
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 10px 10px 30px 10px;
}
.continued{
    white-space: nowrap;
    width:150px;
    overflow:hidden;
    text-overflow: ellipsis;
}
.actionButton{
    letter-spacing: 0.3px;
    font-weight: 500;
    font-size: 11px;
}
.dummyCard{
    visibility: hidden;
}
.mainDiv{
    margin-bottom:30px;
    margin-right:18px;
}
.price{
    margin-top:5px;
    margin-bottom:5px;
}
.page-item{
    margin:5px;
    cursor: pointer;
}
.main{
    margin-left:250px;
    margin-right:20px;
    padding-top:120px;
    float:left;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.img{
    cursor: pointer;
}
.wishlist{
    margin-top:5px;
    margin-bottom: 5px;
    margin-left:8px;
}
.row{
    /* display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -moz-box-orient: horizontal;
    -moz-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -moz-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    margin: 0 -10px 0 3px;
    width: 100%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; */
}
@media (max-width: 414px) {
    .main {
        padding-top:200px;
    }
    .card{
        width:300px;
    }
}


@media (max-width: 1500px) {
    .main {
        padding-top:120px;
        margin-left:20px;
    }
    .card{
        margin-right: 20px;
        width:200px;
    }
    .wishlist{
        margin-left:5px;
    }
    .actionButton{
        font-size: 9.5px;
    }
}
