.main{
    margin-top:70px;
}
.cart-hide{
    visibility: hidden;
}
.cart-show{
    visibility: visible;
}
.wishlist-button{
    background: #fff;
    color: #ff3f6c;
    font-weight: 600;
    cursor: pointer;
    border: 1px solid #ff3f6c;
    display: inline-block;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.card-img{
    height:217px;
    width:150px;
}
.card-content{
    display: -webkit-flex;
}
.header{
    display: -webkit-flex;
}
.color-button{
    border-radius: 50px;
}
.minButton{
    background-color: #FFFFFF;
    border-radius: 50px;
    padding: 0;
    min-width: 30px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    border:1px solid #BFC0C6;
    color: #282C3F;
    
}
.min{
    margin-top:10px;
}
.quantity{
    background-color: white;
}
.line{
    width:590px;
}
.remove-link{
    cursor: pointer;
    font-weight: 500;
}
.wishlist-link{
    padding-left:50px;
    cursor: pointer;
    font-weight: 500;
}
.text-right{
    text-align: right;

}
.info{
    width:450px;
}
.price{
    widows: 100px;
    text-align: right;
}
.card{
    width: 770px;
}
.heading{
    width:770px;
}
.secondary{
    color: #535766;
    font-size: 18px;
    font-weight: 600;
}
.vertical-line{
    width:1px;
    background-color: rgb(214, 215, 219);
    position:absolute;  
    top:0;
    bottom:0;
    left: -70px;
}
.price-card{
    margin-top:40px;
    width:400px;
    margin-left:20px;

}
.second-price-card{
    margin-top:40px;
    width:400px;
    margin-left:20px;
    display: none;
}
.right{
    float: right;
}
@media(max-width:1024px){
    .stepper{
        margin-left: -300px;
        visibility: hidden;
    }
    .main{
        width:400px;
    }
    .card-body{
        width:350px;
    }
    .cart-data{
        margin-top:-200px;
    }
    .info{
        width: 400px;
    }
    .price{
        text-align: right;
    }
    .blank{
        display: none;
    }
    .detail{
        left:00px;
        width:500px;
        top:-200px;
    }
    .detail-card{
        width:500px;
        margin-left: 15px;
        
    }
    .price-card{
        top:-200px;
        display: none;
    }
    .second-price-card{
        display: block;
        margin-left:0px;
        margin-top:5px;
    }
    .info{
        width: 350px;
    }
    .line{
        width:320px;
        visibility: hidden;
    }
    .heading{
        width:500px;
        margin-left: 15px;
    }

    .header{
        width:340px;

    }
    .cart-content{
        width:350px;
        
    }
}

.order{
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 10px;
    background: #337AB7;
    cursor: pointer;
    text-align: center;
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
    letter-spacing: 1px;
    width:360px;
}
.stepper{
    display: -webkit-flex;
    margin-bottom: 30px;  
    margin-left:300px;
}
.stepper hr{
    border:2px solid #20bd99;
}
.empty{
    margin-top:250px;
    margin-bottom:185px;
}
.cart-data{
    display: flex;
    margin-bottom:145px;
}