<div class="full-width fixed-top">
    
  <div class="h3 menu-toggler" (click)="opensidebar()">
    <i class="ion-md-menu"></i>
  </div>
  <a routerLink="">
    <div class="web-image">
      <img class="main-image" src="../../../assets/Images/images/logwin_tech.png">
    </div>
  </a>
  
  <div class="department-container">
    <div>
      <ul class="nav">
        <li class="department" *ngFor="let department of departments">
          <div class="nav-block" (mouseenter)="changeDepartment(department.department_id)" (mouseleave)="closeCategory()">
              <div class="departmentDetail" [class.highlightPresentDepaerment]="department.department_id==currentDepartment">
                  {{department.name}}  <br>
                  <!-- <hr class="activeTab"> -->
                </div>
                <div class="sub-category">
                  <div class="category-container">
                      <div>
                        <ul class="desktop-navBlock">
                          <li class="data" *ngFor="let cat1 of cat1" (click)="setCategory(cat1.name)">
                            {{cat1.name}}
                          </li>
                        </ul>
                      </div>
                      <div>
                        <ul class="desktop-navBlock">
                          <li class="data" *ngFor="let cat2 of cat2" (click)="setCategory(cat2.name)">
                            {{cat2.name}}
                          </li>
                        </ul>
                      </div>
                      <div>
                        <ul class="desktop-navBlock">
                          <li class="data" *ngFor="let cat3 of cat3" (click)="setCategory(cat3.name)" >
                            {{cat3.name}} 
                          </li>
                        </ul>
                      </div>
                  </div>
                </div>
          </div>
          
        </li>
      </ul>
    </div>
  </div>
  <span class="mr-auto"></span>
  <div class="user-menu">
    
    <div class="search-bar">
      
      <form (submit)="onSubmit()"> 
        <div class="input-container">
            
          <input name="search" class="search-input" type="search" placeholder="Search here.. " [(ngModel)]="search">
          <i class="ion-md-search desktop-submit"></i>
        </div>
      </form>
    </div>
    <div class="navbar-nav text-center text-dark dropdown h6">
      <a class="nav-link text-dark" >
        <span class="text-center text-dark h5">
          <i class="ion-md-person"></i><br>
        </span>
        <span class="link">{{user}}
        </span></a>
      <div class="dropdown-content text-left h6">
        <a (click)="loginClick()">
          <div>{{loginData}}</div>
        </a>
        <a routerLink="/register" *ngIf="loginData=='Login'">
          <div>Sign Up</div>
        </a>
        <a routerLink="/orders">
          <div>Orders</div>
        </a>
        <a routerLink="/wishlist">
          <div>Wishlist</div>
        </a>
        <a>
          <div>Gift Cards</div>
        </a>
        <a>
          <div>Contact Us</div>
        </a>
      </div>
    </div>
    <div class="navbar-nav text-center text-dark h6">
      <a class="nav-link text-dark" routerLink="/wishlist">
        <span class="text-center text-dark h5">
        <i class="ion-md-bookmark"></i></span>
        <span class="badge badge-danger">{{wishlistItemsCount}}</span>  
        <br>
        <span class="link">Wishlist</span>
      </a>
    </div>
    <div class="navbar-nav text-center text-dark h6">
      <a class="nav-link text-dark" routerLink="/cart">
        <span class="text-center text-dark h5"> 
        <i class="ion-md-cart"></i></span>
        <span class="badge badge-danger">{{cartItemsCount}}</span>
        <br>
        <span class="link">Bag</span>
      </a>
    </div>
  </div>
</div>
<div class="overlay animate-opacity" (click)="closenav()" style="cursor:pointer" id="myOverlay"></div>
<div class="sidenav list-group" style="display:none;z-index:5" id="menu">
  <div class="department-list">
      <a class="list-group-item  list-group-item-action" href="#collapseExample{{index}}" data-toggle="collapse" aria-expanded="false" aria-controls="collapseExample" *ngFor="let department of departments;index as index">
        {{department.name}}
        <div class="list-group collapse" id="collapseExample{{index}}">
            <a class="list-group-item list-group-item-action" *ngFor="let cat of cats[index]" (click)="setCategory(cat.name)">{{cat.name}}</a>
        </div>
      </a>
      <a class="list-group-item  list-group-item-action" (click)="loginClick()">
          <div>{{loginData}}</div>
        </a>
        <a class="list-group-item  list-group-item-action" (click)="closenav()"  routerLink="/register" *ngIf="loginData=='Login'">
          <div>Sign Up</div>
        </a>
        <a class="list-group-item  list-group-item-action" (click)="closenav()"  routerLink="/orders">
          <div>Orders</div>
        </a>
        <a class="list-group-item  list-group-item-action" (click)="closenav()"  routerLink="/wishlist">
          <div>Wishlist</div>
        </a>
        <a class="list-group-item  list-group-item-action">
          <div>Contact Us</div>
        </a>
    </div>
</div>
