<div class="side">
    <!-- <nav class="sidebar navbar fixed-left navbar-inverese"  style="position: relative">
      <p class="h3" style="margin:10px">Categories :-</p>  
      <br>  
      <ul class="nav navbar-nav" style="margin:10px">
          <li class="nav-item nav-dropdown">
            <a class="nav-link h6 text-dark nav-dropdown-toggle" (click)="onClick(0)" role="tab">All</a>
          </li>
          <li class="nav-item nav-dropdown" *ngFor="let cat of categories">
            <a class="nav-link h6 text-dark nav-dropdown-toggle" (click)="onClick(cat.category_id)" role="tab">
              {{cat.name}}
            </a>
          </li>
        </ul>
      </nav> -->
</div>