<div class="main-container">
  <div class="add-attribute">
    <div class="card">
      <div class="card-header h5">
        Add Attribute Name :-
      </div>
      <div class="card-body">
        <form class="form" #form="ngForm">
        <div class="form-group">
          <label class="label" for="attribute-name">Attribute Name :-</label>
          <br>
          <input type="text" name="attribute-name" class="form-control fullwidth" [(ngModel)]="attributeAdd.name" #value=ngModel maxlength="20" placeholder="Enter Attribute's Name" required>
          <ng-container *ngIf="value.invalid && value.touched">
            <p class="text-danger" *ngIf="value.errors?.required">
              Attribute name is required
            </p>
          </ng-container>
        </div>
        <div class="form-group" style="margin-top:30px;">
          <button type="submit" [disabled]="!form.valid" class="btn btn-outline-info" *ngIf="btnStatus==0" (click)="addCategory()">Add Attribute</button>
          <button class="btn btn-outline-info" (click)="updateCategory()" *ngIf="btnStatus==1">Update Attribute</button>
          <button class="btn btn-outline-dark" (click)="cancelAttribute()" style="margin-left:20px;">Cancel</button>
        </div>
      </form>
      </div>
    </div>
  </div>
  <div class="display-category">
    <div class="card">
      <div class="card-header">
        <span class="text-left h5">List of Attributes :-</span>
        <span class="right">
          <div class="searchbar">
            <div class="search-container">
              <input type="search" class="form-control search_input" [(ngModel)]="search" (keyup.enter)="searchAttribute()" placeholder="Search Attribute here...">
            </div>
            <div class="search_icon text-center" (click)="searchAttribute()">
              <span class="icon"><i class="ion-md-search"></i></span>
            </div>
          </div>
        </span>
      </div>
      <div class="card-body">
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col" (click)="sortData('id')">No.
                <i class="ion-md-arrow-dropup" *ngIf="sorting===1 && sortKey===1"></i>
                <i class="ion-md-arrow-dropdown" *ngIf="sorting===11 && sortKey===1"></i>
              </th>
              <th scope="col" (click)="sortData('attribute')">Attribute Name
                <i class="ion-md-arrow-dropup" *ngIf="sorting===1 && sortKey===3"></i>
                <i class="ion-md-arrow-dropdown" *ngIf="sorting===11 && sortKey===3"></i>
              </th>
              <th scope="col">Edit</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let attribute of attributes;let index=index">
              <td>{{attribute.attribute_id}}</td>
              <td>{{attribute.name}}</td>
              <td>
                <button class="edit"  (click)="editCategory(attribute)"><i class="ion-md-create"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <nav aria-label="Page">
          <ul class="pagination justify-content-center">
            <li class="page-item" *ngIf="currentPage!=1" (click)="changePage(1)"><a class="page-link">First</a></li>
            <li class="page-item" *ngIf="currentPage!=1" (click)="changePage(currentPage-1)"><a class="page-link"><i class="ion-md-skip-backward"></i></a></li>
            <li class="page-item" [class.active]="pageno==currentPage" (click)="changePage(pageno)" *ngFor="let pageno of displayPages"><a class="page-link">{{pageno}}</a></li>
            <li class="page-item" *ngIf="currentPage!=lastPage" (click)="changePage(currentPage+1)"><a class="page-link"><i class="ion-md-skip-forward"></i></a></li>
            <li class="page-item" *ngIf="currentPage!=lastPage" (click)="changePage(lastPage)"><a class="page-link">Last</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>