.main{
    padding-left: 235px;
    margin-top:70px;
    float:left;
    min-height: 100%;
    /* now that it is 100% the height, we 'pull' the footer up */
    /* margin-bottom must be the same height as the footer height below */
    margin-bottom: -271px; 
}
.footer{
   position: relative;
   bottom: 0;
   left: 0;
   
   height: 271px;
   
}
.main-container{
    height: 100%;
}
/* @media (max-width: 249px) {
    .main {
        padding-left:4px;
    }
}
@media (min-width: 249px) {
    .main {
        padding-left:20px;
    }
}
@media (min-width: 993px) {
    .main {
        padding-left:235px;
        padding-top:110px;
    }
}
@media (max-width: 394px) {
    .main {
        padding-top:200px;
    }
}

@media (min-width: 394px) {
    .main {
        padding-top:165px;
    }
}
@media (min-width: 790px) {
    .main {
        padding-top:140px;
    }
}
@media (min-width: 1260px) {
    .main {
        padding-top:120px;
    }
} */
